.btn-close-task {
  margin-top: 1rem;
  width: 30%;    
  height: 2.5rem;
  font-size: 1.2rem;  
  /* background-color: #1086f4; */
  background-color: #056dbc; 
  outline: auto; 
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 1rem;   
}