.new-task-component {
  width: 50%;
  height: 12rem;
  border: solid 1px  #c1c2c2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  box-shadow: 0 0 10px #01014e;
  /* background-color: #0b88ba; */
  background-color: #fff;
  margin: 1rem;
}

.h2-new-task {
  margin-top: 1rem;
  font-size: 1.3rem;  
  color: var(--font-title);
  align-self: flex-start;
  padding-left: 1rem;  
}

.new-task-component > form {
  width: 90%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
}

.new-task-component label {
  width: 100%;
  font-size: 1rem;
  color: #1c3343;
  padding-left: 0.5rem;
}

.new-task-component input {
  width: 98%;
  height: 2rem;  
  font-size: 1rem;
  font-weight: 600;
  border: none;  
  background-color: var(--third-color);    
  color: #0000;
  padding-left: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.new-task-component input::placeholder {
  color: var(--primary-color);
  font-size: 1rem; 
  padding-left: 0.5rem;
  opacity: 0.6;   
}

.btn-create-task {
  margin-top: 1rem;
  width: 30%;    
  height: 2.5rem;
  font-size: 1.2rem;  
  /* background-color: #1086f4; */
  background-color: var(--other-color); 
  outline: auto; 
  color: #fff;
  font-weight: 400;
  cursor: pointer;   
}

.btn-create-task:hover,
.btn-create-task:focus {
  background-color: #0567c3;
  font-weight: 900;  
}
